footer {
  position: fixed;
  width: 100%;

  text-align: center;
  bottom: 0;
  padding: 5px 0;
}

footer a {
  color: #ccd;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  flex-direction: row-reverse;
}
footer a:hover {
    font-weight: 700;
}
footer a:hover svg {
  transition: all 0.5s;
  fill: #ccd;
}
